<% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
        <ul>
            <li> <%= msg %></li>
        </ul>
    <% end %>
<% end %>

<%= form_with model: @list do |f| %>
    <h2>List name: <%= f.text_field :name %></h2>
    <h2>Items: </h2><%= f.fields_for :items do |item| %>
        <p><%= item.text_field :name %></p>

    <% end %>

    <%= f.submit %>
<% end %>