<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
        <ul>
            <li> <%= msg %></li>
        </ul>
    <% end %>
<% end %>

<%= form_with model: @list do |f| %>
    List name: <%= f.text_field :name %>
    Items: <%= f.fields_for :items do |item| %>
        <%= item.text_field :name %>
    <% end %>
    <%= f.submit %>
<% end %>