<% content_for :title do %>Create New List<% end %>
<% content_for :description do %>My Description<% end %>

<% if flash[:errors] %>
    <ul>
    <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<% if logged_in? %>
    <%= form_with model: @list do |f| %>
        <h2>List name: <%= f.text_field :name %></h2>

        <h2>Items: </h2><%= f.fields_for :items do |item| %>
            <p><%= item.text_field :name, placeholder: 'Item Name' %></p>
        <% end %>
        <%= f.submit %>
    <% end %>
<% end %>