<h1><%= @list.name %></h1>
    <ul>
        <% @list.list_items.each do |list_item| %>
            <li><%= list_item.item_quantity %> <%= list_item.item.name %></li>
        <% end %>
    </ul>
    <%= form_tag list_path(@list.id), method: 'delete' do %>
        <%= submit_tag "Delete list" %>
    <% end %>