<% content_for :title do %>My Title<% end %>
<% content_for :description do %>My Description<% end %>

<% if logged_in? %>
    <h1><%= @list.name %></h1>
    <ul>
        <% @list.list_items.each do |list_item| %>
            <li><%= list_item.item_quantity %> <%= list_item.item.name %></li>
        <% end %>
    </ul>

    <%= form_tag edit_list_path, method: 'get' do %>
        <%= submit_tag "Edit list" %>
    <% end %>

    <%= form_tag list_path, method: 'delete' do %>
        <%= submit_tag "Delete list" %>
    <% end %>
<% else %>
    <%= link_to 'Login', login_path %>
<% end %>