<% content_for :title do %>GRILList Login<% end %>
<% content_for :description do %>My Description<% end %>

<%= form_with url: '/sessions' do |f| %>
  <p><%= f.text_field :username, placeholder: "Username" %></p>
  <p><%= f.password_field :password, placeholder: "Password" %></p>
  <p><%= f.submit 'Login' %></p>
<% end %>

<h3>or</h3>

<%= link_to 'Sign Up', signup_path %>