<% content_for :title do %>Edit <%= @recipe.name.titlecase %> Recipe<% end %>
<% content_for :description do %>My Description<% end %>

<% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
        <ul>
            <li> <%= msg %></li>
        </ul>
    <% end %>
<% end %>

<%= form_with model: @recipe do |f| %>
    <h2>Recipe name:<%= f.text_field :name %></h2>
    <h4>Recipe by: <%= current_user.name.titlecase %></h4>

    <h2>Items:</h2><%= f.fields_for :items do |item| %>
        <p><%#= @recipe.quantity %> <%= item.text_field :name, placeholder: 'Add new item' %></p>
    <% end %>
    <h2>Image Link:</h2>
            <p><%= f.url_field :img_url, placeholder: 'Image Link' %></p>
    <h2>Instructions:</h2>
    <p><%= f.text_area :instructions %></p>
    <%= f.submit %>
<% end %>