<% content_for :title do %>Recipes<% end %>

<% if logged_in? %>
<%# make sure you config 'routes' get '/search', to: 'indexs#search' in your controller %>
    <%= form_with url: '/recipe_search', method: :get, local: true do |form| %>
        <%= form.label :q, 'Search for recipe with item:' %>
        <%= form.text_field :q, id: :q %>
        <%= form.submit 'Search' %>
    <% end %>

    <% unless @search_recipes.nil? %>
        <% @search_recipes.each do |recipe| %>
            <p><%= link_to recipe.name, recipe_path(recipe) %></p>
        <% end %>
        <hr>
    <% end %>

    <h3><%= link_to 'Create New Recipe', new_recipe_path %></h3>

    <% current_user.recipes.each do |recipe| %>
        <p><%= link_to recipe.name, recipe_path(recipe) %></p>
    <% end %>
<% else %>
    <%= render 'layouts/closed_session' %>
<% end %>
