<% content_for :title do %>Create New Recipe<% end %>
<% content_for :description do %>My Description<% end %>

<% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
        <ul>
            <li> <%= msg %></li>
        </ul>
    <% end %>
<% end %>

<% if logged_in? %>
    <%= form_with model: @recipe do |f| %>
        <h2>Recipe name:<%= f.text_field :name %></h2>
        <h2>Recipe by:<%= current_user.name %></h2>
        
        <h2>Items:</h2><%= f.fields_for :items do |item| %>
            <p><%= item.text_field :name, placeholder: 'Item Name' %></p>
        <% end %>
        <h2>Instructions:</h2>
        <p><%= f.text_area :instructions %></p>
        <%= f.submit %>
    <% end %>
<% end %>