<% content_for :title do %><%= @recipe.name.titlecase %> Recipe<% end %>
<% content_for :description do %>My Description<% end %>

<% if logged_in? %>
    <h2><%= @recipe.name.titlecase %></h2>
        <h4>Recipe by: &nbsp;<%= current_user.name.titlecase %> </h4>  <%= image_tag(@recipe.img_url) %>
        <h3>Ingredients: </h3>
            <% @recipe.recipe_items.each do |recipe_item| %>
                <p><%= recipe_item.item.name %></p>
            <% end %>

  <hr>

    <div id="recipe_instructions"><h3>Instructions: </h3>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= @recipe.instructions %>
        <br>
    </div>

        <%= form_tag edit_recipe_path, method: 'get' do %>
            <%= submit_tag "Edit recipe" %>
        <% end %>
        <%= form_tag recipe_path(@recipe.id), method: 'delete' do %>
            <%= submit_tag "Delete recipe" %>
        <% end %>
        <br>

  <hr>

  <h3>Add Items to list:</h3>
        <%= form_tag(add_to_list_path, method: "post") do %>
            <p><%= select_tag "list", options_from_collection_for_select(current_user.lists, "id", "name") %></p>
            <%= submit_tag("Add") %>
        <% end %>
        <br>

        <%= link_to 'Back to all recipes', recipes_path %>
<% else %>
    <%= link_to 'Login', login_path %>
<% end %>
