<h3>Analytics: </h3>

<h5>Most common item is "<%= @data_list[0][0] %>" appearing <%= @data_list[0][1] %> times from the lists. </h5>
<h5>Most common item is "<%= @data_recipe[0][0] %>" appearing <%= @data_recipe[0][1] %> times from the recipes.</h5>

<p><button onClick="window.location.reload()">Draw chart</button></p>

<div id="chart1" ></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @data_recipe.to_json.html_safe -%>');
    data = [['Item name', 'Count']].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
        title: 'Items from our recipes',
        pieHole: 0.4,
        backgroundColor: 'transparent',
        titleTextStyle: {
           fontSize: 20
        }
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart1'));
    chart.draw(data, options);
  }
<% end -%>



<div id="chart2" ></div>

<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @data_list.to_json.html_safe -%>');
    data = [['Item name', 'Count']].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
        title: 'Items from our lists',
        pieHole: 0.4,
        backgroundColor: 'transparent',
        titleTextStyle: {
           fontSize: 20
        }
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart2'));
    chart.draw(data, options);
  }
<% end -%>