<% content_for :title do %>My Title<% end %>
<% content_for :description do %>My Description<% end %>

<%= flash[:error] %>

<%= form_with model: User.new do |f| %>
  <p>Name: <%= f.text_field :name, placeholder: "Type your full name" %></p>
  <p>Username: <%= f.text_field :username, placeholder: "Choose a cute animal" %></p>
  <p>Password: <%= f.password_field :password, placeholder: "Hint: not 'dolphin'" %></p>
  <p>Confirm: <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %></p>
  <%= f.submit %>
<% end %>