<% content_for :title do %>GRILList Signup<% end %>
<% content_for :description do %>My Description<% end %>

<% if logged_in? %>
  <br><br>
  <h2>You are already logged in!</h2>
<% else %>
  <%= form_with model: User.new do |f| %>
    <p>Name: &nbsp;<%= f.text_field :name, placeholder: "Type your full name" %></p>
    <p>Username: &nbsp;<%= f.text_field :username, placeholder: "Choose a cute animal" %></p>
    <p>Password: &nbsp;<%= f.password_field :password, placeholder: "Hint: not 'dolphin'" %></p>
    <p>Confirm: &nbsp;<%= f.password_field :password_confirmation, placeholder: "Confirm your password" %></p>
    <%= f.submit %>
  <% end %>
<% end %>