<% content_for :title do %>My Title<% end %>
<% content_for :description do %>My Description<% end %>

<% if @current_user %>
  <h3><%= @user.name%>'s Lists</h3>

  <% @user.lists.each do |list| %>
    <p><%= link_to list.name, list_path(list) %></p>
  <% end %>

  

  <h3><%= @user.name%>'s Recipes</h3>

  <% @user.recipes.each do |recipe| %>
    <p><%= link_to recipe.name, recipe_path(recipe) %></p>
  <% end %>  

  

  <%= button_to "Create List", new_list_path, method: :get, class: 'button' %>
  <%= button_to "Create Recipe", new_recipe_path, method: :get, class: 'button' %>
  <%= button_to "Logout", '/sessions', method: :delete, class: 'button' %>
  <br>

  <%= render 'analytics' %>
  
<% else %>
  YO. You aren't allowed to see <%= @user.username %>'s secret, brah!!!
<% end %>