<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GRILList" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A Rails Application for Grocery Shopper" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>GRILList</h1><%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>